@font-face {
    font-family: TestFont;
    src: url(assets/GTEestiProText-Regular.ttf);
}
@font-face {
    font-family: TestFont;
    src: url(assets/GTEestiProText-Medium.ttf);
    font-weight: bold;
}
.test-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 40px;
    color: #F1615B;
}
body{
    margin: 0;
    font-family: TestFont;
    overflow: hidden;

}
.dragndrop__body{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;

}
.dragndrop_success-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: TestFont;
    font-size: 24px;
    line-height: 29px;
}
.dragndrop_success-title{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 70px;


}
.dragndrop__text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 20px;
}
.dragndrop__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    align-self: center;
    min-width: 0;
}


.dragndrop__background-container {
    position: relative;
    margin-top: 20px;
    align-self: flex-start;
    margin-bottom: 20px;

}
.dragndrop__bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    align-self: center;
    min-height: 120px;
    margin-top: auto;

}
.dragndrop__retry-description{
    display: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #E8547E;
}
.dragndrop__button:hover{
    background:#0AC687;
}
.dragndrop__button{
    margin-top: 20px;
    font-family: 'Proxima Nova', sans-serif;
    background: #00A870;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 300px;
    border-radius: 30px;
    outline: none;
    border:none;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    flex:0;
    color: #FFFFFF;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    min-height: 55px;
}
.dragndrop__zones-container {
    opacity: 1;
    position: absolute;
    width:100%;
    height: 100%;

}
.dragndrop__hide_borders .dragndrop__zone{
    border: 1px transparent!important;
}
.dragndrop__zone {
    width: 100%;
    overflow: visible;
    display: flex;
    border: 1px dashed black;
    position: absolute;
}
.dragndrop__zone-result-icon-container {
    position: absolute;

    right: -15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:15px;
    opacity: 0;

}
.dragndrop__zone-result-icon-container img{
    width: 100%;

}
.dragndrop__background-image {
    width: 100%;
    position: relative;
    left:0;
    top:0;

}

.dragndrop__background {
    width: 100%;

}

.dragndrop__item:hover{
    opacity: 0.7;
}
.dragndrop__item {
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;

}

.dragndrop__items-container {
}
